:root{
    --salmon:#ef9d71;
    --black: #000;
    --white:#fff;
    --cyan:#AEDEE0;
    --dsalmon:#532521;
    --dcyan:#1f2f32;
}



body::selection{
    background-color: var(--salmon);
}
body[theme="black"] {
    background-color: var(--black);
}
body[theme="black"] .section {
    color: var(--white);
}
body[theme="cyan"] {
    background-color: var(--cyan);
}
body[theme="cyan"] .section {
    color: var(--dcyan);
}

body[theme="salmon"] {
    background-color: var(--salmon);
}
body[theme="salmon"] .section {
    color: var(--dsalmon);
}


body[theme="white"] {
    background-color: var(--white);
}

body[theme="white"] .section {
    color: var(--black);
}


@font-face {
    font-family: 'maqinalight';
    src: url('assets/fonts/659dbdfd5a080be8d348316f_PPNeueMachina_\ Light.woff') format('woff'),
         
}
@font-face {
    font-family: 'maqinabold';
    src: url('assets/fonts/659dbdfd5a080be8d348316e_PP\ Neue\ Machina\ Inktrap\ Medium.woff') format('woff'),
        
}
@font-face {
    font-family: 'stoshi';
    src: url('assets/fonts/659dbdfd5a080be8d3483173_Satoshi-Variable.ttf') format('truetype'),
         
}